*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: inherit;
  }
}

a {
  transition: 0.3s;
  color: $color-primary;
  cursor: pointer;
  &:hover {
    color: $color-primary;
  }
}

button {
  border: none;
}

body {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Section paddings
.section-padding2 {
  padding: 30px 0px 90px 0px;
  @include respond(phone) {
    padding: 100px 0px 70px 0px;
  }
}

.section-padding {
  padding: 80px 0;
}

.section-padding-t {
  padding-top: 80px;
}

.section-padding-b {
  padding-bottom: 80px;
}
@include respond(phone) {
  .section-padding {
    padding: 60px 0;
  }

  .section-padding-t {
    padding-top: 60px;
  }

  .section-padding-b {
    padding-bottom: 60px;
  }
}

.hero-padding {
  padding: 120px 0px 90px 0px;
  @include respond(phone) {
    padding: 100px 0px 70px 0px;
  }
}
.footer-padding {
  padding: 50px 0px;
  @include respond(phone) {
    padding: 30px 0px;
  }
}

/////  BADGE TEXT /////
.badge-text {
  color: $color-primary;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  text-transform: uppercase;
  z-index: 5;
  display: inline-block;
  letter-spacing: 1px;
  margin-bottom: 10px;
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: $color-primary;
    opacity: 0.3;
    border-radius: 50%;
    left: -15px;
    top: 2px;
    z-index: -1;
  }
}

/////  SECTION TITLE /////
[class*='section-title-'] {
  text-transform: capitalize;
  h3 {
    font-size: 35px;
    @include respond(tablet) {
      font-size: 28px;
    }
    @include respond(phone) {
      font-size: 25px;
    }
  }
}

.section-title {
  &-left {
    text-align: left;
    margin-bottom: 30px;
    @include respond(phone) {
      text-align: center;
    }
  }
  &-center {
    text-align: center;
    margin-bottom: 50px;
  }
  &-right {
    text-align: right;
    margin-bottom: 30px;
    @include respond(phone) {
      text-align: center;
    }
  }
}
///// DARK VERSION /////
.theme-dark {
  [class*='section-title-'] {
    color: $color-light;
  }
}

/////  BUTTON STYLE /////
/// 
/// 
.btn__primary2 {
  font-size: 24px;
  position: relative;
  display: inline-block;
  line-height: 20px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  overflow: hidden;
  // text-transform: capitalize;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-light;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  cursor: pointer;
  &.btn-md {
    padding: 15px 38px;
  }
  span {
    position: relative;
    z-index: 2;
    color: $color-light;
    transition: all 0.8s;
  }
  &:hover {
    span {
      color: $color-light;
    }
  }
  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    transition: all 600ms ease;
  }
  &::before {
    left: -3px;
    right: -100%;
    background: $color-secondary;
    border-right: 30px solid transparent;
    transform: translateX(-100%);
  }

  &:hover {
    &::before {
      transform: translateX(-40%);
    }

    &::after {
      transform: translateX(40%);
    }
  }
}

.theme-dark {
  .btn__primary2 {
    &:hover {
      span {
        color: $color-secondary;
      }
    }

    &::before {
      background: $color-light;
    }
  }
} 
.btn__primary {
  position: relative;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  overflow: hidden;
  text-transform: capitalize;
  text-decoration: none;
  background-color: $color-primary;
  color: $color-light;
  transition: all 0.3s ease;
  letter-spacing: 0.5px;
  cursor: pointer;
  &.btn-md {
    padding: 15px 38px;
  }
  span {
    position: relative;
    z-index: 2;
    color: $color-light;
    transition: all 0.8s;
  }
  &:hover {
    span {
      color: $color-light;
    }
  }
  &::after,
  &::before {
    position: absolute;
    content: '';
    top: 0px;
    bottom: 0px;
    transition: all 600ms ease;
  }
  &::before {
    left: -3px;
    right: -100%;
    background: $color-secondary;
    border-right: 30px solid transparent;
    transform: translateX(-100%);
  }

  &:hover {
    &::before {
      transform: translateX(-40%);
    }

    &::after {
      transform: translateX(40%);
    }
  }
}

.theme-dark {
  .btn__primary {
    &:hover {
      span {
        color: $color-secondary;
      }
    }

    &::before {
      background: $color-light;
    }
  }
}

.video__button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-secondary;
  color: $color-light;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-dark {
  .video__button {
    background-color: $color-dark-primary;
  }
}

.video-btn {
  height: 70px;
  width: 70px;
  line-height: 80px;
  text-align: center;
  color: $color-primary;
  background-color: $color-light;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px;
  margin-top: -50px;
  z-index: 99;
  padding-left: 5px;
  box-shadow: 0 0 30px $color-shadow;
  &:hover {
    color: $color-primary;
  }
}
.waves-block .waves {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: $color-light;
  opacity: 0;
  border-radius: 100%;
  animation: waves 4s ease-in-out infinite;
  left: 50%;
  top: 50%;
  margin-left: -65px;
  margin-top: -65px;
  z-index: 3;
}
.waves-block .wave-1 {
  animation-delay: 0s;
}
.waves-block .wave-2 {
  animation-delay: 1s;
}
.waves-block .wave-3 {
  animation-delay: 2s;
}

.link-btn {
  font-weight: 500;
  position: relative;
  color: $color-primary;
  display: flex;
  align-items: center;
  & i {
    position: relative;
    margin-left: 4px;
    font-size: 20px;
    transition: all 0.4s ease-in-out;
  }
  &:hover {
    color: $color-secondary;
    & i {
      margin-left: 6px;
    }
  }
}
.theme-dark {
  .link-btn {
    &:hover {
      color: $color-light;
    }
  }
}

/* Icon link */
.ico__link {
  border: 1px solid $color-primary;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  font-size: 12px;
  &:hover {
    color: $color-light;
    background-color: $color-primary;
  }
}

/* SVG section seprator */
.shape--top-wrapper {
  height: 70px;
}
.shape--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 60px;
    transform: rotateY(180deg);
  }
  .shape-fill {
    fill: $color-light;
  }
}

/* SVG section seprator dark */
.theme-dark {
  .shape--top-wrapper {
    background: $color-secondary;
  }

  .shape--top {
    .shape-fill {
      fill: $color-dark-primary;
    }
  }

  .shape-fill-dark2 {
    background: $color-dark-primary;
  }

  .shape-fill-dark2 {
    .shape--top {
      .shape-fill {
        fill: $color-secondary;
      }
    }
  }
}

/* BORDERED TITLE */
.bordered-title span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.bordered-title span:after {
  content: '';
  bottom: 15px;
  width: 100%;
  z-index: -1;
  background: $color-secondary;
  left: 0;
  position: absolute;
  height: 9px;
}

/////  BACKGROUND COLOR /////
.bg-one {
  background-color: $color-tertiary;
}

.dark-bg {
  background-color: $color-secondary;
  color: $color-light;
  
  // Card styling for dark background
  .card {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: $color-light;
    
    .card-title {
      color: $color-light;
    }
    
    .card-text {
      color: rgba(255, 255, 255, 0.8);
    }
    
    &:hover {
      background-color: rgba(255, 255, 255, 0.08);
    }
  }
  
  // Section title styling
  .section-title {
    h2, h3, h4, h5, h6 {
      color: $color-light;
    }
    
    p {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  
  // Testimonial styling
  .testimonialv2__contnet--single {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
    .testimonialv2__contnet--info--about {
      h4 {
        color: $color-light;
      }
      
      span {
        color: rgba(255, 255, 255, 0.7);
      }
    }
    
    .testimonialv2__contnet--quote p {
      color: rgba(255, 255, 255, 0.8);
    }
  }
  
  // Generic text elements
  h1, h2, h3, h4, h5, h6 {
    color: $color-light;
  }
  
  p {
    color: rgba(255, 255, 255, 0.85);
  }
  
  .text-muted {
    color: rgba(255, 255, 255, 0.5) !important;
  }
}

// Light theme overrides - make dark-bg sections use light backgrounds
.theme-light {
  .dark-bg {
    background-color: $color-tertiary;
    color: $color-gray;
    
    .card {
      background-color: $color-light;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: $color-gray;
      
      .card-title {
        color: $color-dark-primary;
      }
      
      .card-text {
        color: $color-gray;
      }
      
      &:hover {
        background-color: #f8f9fa;
      }
    }
    
    .section-title {
      h2, h3, h4, h5, h6 {
        color: $color-dark-primary;
      }
      
      p {
        color: $color-gray;
      }
    }
    
    .testimonialv2__contnet--single {
      background-color: $color-light;
      border: 1px solid rgba(0, 0, 0, 0.1);
      
      .testimonialv2__contnet--info--about {
        h4 {
          color: $color-dark-primary;
        }
        
        span {
          color: $color-gray;
        }
      }
      
      .testimonialv2__contnet--quote p {
        color: $color-gray;
      }
    }
    
    h1, h2, h3, h4, h5, h6 {
      color: $color-dark-primary;
    }
    
    p {
      color: $color-gray;
    }
    
    .text-muted {
      color: #6c757d !important;
    }
  }
}

.dark-text {
  background-color: $color-dark-primary;
}

.color-one {
  color: $color-primary;
}

///// PRELOADER /////

#preLoader {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  animation: preLoader 1s 1s linear forwards;
  background: $color-light;
}
.theme-dark {
  #preLoader {
    background: $color-secondary;
  }
}

///// HOVER EFFECT /////
.translateEffect1 {
  transition: all 0.3s;
  &:hover {
    transform: translateY(-10px);
  }
}
.translateEffect2 {
  transition: all 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
}

/* Blob images */
.blob {
  img {
    mask-position: center center;
    mask-repeat: no-repeat;
    height: auto;
    width: 100%;
    max-width: 100%;
  }
  &__1 {
    img {
      mask-image: url(../../images/blob/blob1.svg);
    }
  }
  &__2 {
    img {
      mask-image: url(../../images/blob/blob2.svg);
    }
  }
  &__3 {
    img {
      mask-image: url(../../images/blob/blob3.svg);
    }
  }
  &__4 {
    img {
      mask-image: url(../../images/blob/blob4.svg);
    }
  }
  &__5 {
    img {
      mask-image: url(../../images/blob/blob5.svg);
    }
  }
  &__6 {
    img {
      mask-image: url(../../images/blob/blob6.svg);
    }
  }
  &__7 {
    img {
      mask-image: url(../../images/blob/blob7.svg);
    }
  }
  &__8 {
    img {
      mask-image: url(../../images/blob/blob8.svg);
    }
  }
  &__9 {
    img {
      mask-image: url(../../images/blob/blob9.svg);
    }
  }
  &__10 {
    img {
      mask-image: url(../../images/blob/blob10.svg);
    }
  }
  &__11 {
    img {
      mask-image: url(../../images/blob/blob11.svg);
    }
  }
  &__12 {
    img {
      mask-image: url(../../images/blob/blob12.svg);
    }
  }
  &__13 {
    img {
      mask-image: url(../../images/blob/blob13.svg);
    }
  }
}

///// SWIPER PAGINATION STYLE  /////
.swiper-pagination {
  .swiper-pagination-bullet {
    background-color: $color-primary;
    transition: 0.4s;
    padding: 5px;
    &.swiper-pagination-bullet-active {
      width: 30px;
      border-radius: 5px;
    }
  }
}

.theme-dark {
    background-color: $color-dark-primary;
    .swiper-pagination-bullet {
      color: $color-light;
      background-color: $color-light;
      opacity: 1;
    }
    .swiper-pagination-bullet-active {
      background-color: $color-primary;
    }
    
    // Dark theme specific overrides for dark-bg sections
    .dark-bg {
      background-color: #0a0e1a;
      
      .card {
        background-color: rgba(255, 255, 255, 0.03);
        
        &:hover {
          background-color: rgba(255, 255, 255, 0.06);
        }
      }
    }
}